doctype html

include ../components

block variables

html(lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    // utf-8 works for most cases
    meta(charset="utf-8")
    // Forcing initial-scale shouldn't be necessary
    meta(name="viewport", content="width=device-width")
    // Use the latest (edge) version of IE rendering engine
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    // Disable auto-scale in iOS 10 Mail entirely
    meta(name="x-apple-disable-message-reformatting")
    // The title tag shows in email notifications, like Android 4.4.
    title= title

    <!--[if mso | IE]>
    <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

    // кастомные шрифты, используйте сервер заказчика/шрифты гугл
    link(href="http://htmlonelove.top/test/fonts/somefont.woff" rel="stylesheet" type="text/css")

    style(type="text/css")
      include ../../../../build/css/styleForInline.css
    styleForStyleTag(type="text/css")
      include ../../../../build/css/styleForStyleTag.css

  body(width="100%" style="margin: 0!important; padding: 0 !important; mso-line-height-rule: exactly; background-color:" + bgcolor + ";background: " + bgcolor + ";")
    span(style="background-color:#333333!important;border-radius:4px 4px 0 0;color:#e7eaec;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden")= description
    center(style="width: 100%; background-color:" + bgcolor + ";background: " + bgcolor + ";")
      div(style="width: 100%; background-color:" + bgcolor + ";background: " + bgcolor + ";word-break: normal;-webkit-text-size-adjust:none; -ms-text-size-adjust: none;line-height: normal; padding-bottom: 18px; padding-top: 18px" align="center")
        //HEADER start
        +header
        //HEADER start

        //BODY start
        block main
        //BODY end

        //FOOTER start
        +footer
        //FOOTER End
