// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-grey:                        #333333;
$color-blue:                        #00529C;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482


// Viewports
// ---------------------------------

$vp-400:                            400px;
